<template>
	<div class="homepage">
		<h1>Cisco router configurátor</h1>
		<cisco-base @baseUpdate="baseUpdated"/>
		<section class="interfaces">
			<physical-interface v-for="physicalInterface in physicalInterfaces" :key="physicalInterface.id"
								@physicalInterfaceUpdate="physicalInterfaceUpdate(physicalInterface.id, $event)"/>
			<button @click="addInterface">Přidat</button>
		</section>
		<section class="routing-table">
			<ip-route v-for="route in staticRoutes" :key="route.id" @remove="removeRoute(route.id)" @ipRouteUpdate="ipRouteUpdate(route.id, $event)"/>
			<button @click="addRoute">Přidat</button>
		</section>

		<button @click="runGenerator">Generate</button>
	</div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue"
import IpRoute from "../components/ipRoute.vue";
import CiscoBase from "../components/base.vue";
import PhysicalInterface from "../components/physicalInterface.vue";

export default Vue.extend({
	name: 'home',
	components: {PhysicalInterface, CiscoBase, IpRoute},
	data(): {
		staticRoutes: {
			id: number
			networkAddress?: number[],
			networkMask?: number[],
			nextHop?: number[]
		}[]

		physicalInterfaces: {
			id: number
			portAddress?: number[]
			portMask?: number[]
			interfaceName?: {
				index: number
				count: number
				int: string
			}
			enable?: boolean
		}[]
		baseData: {
			hostname: string
			password: string
			isSecret: boolean
		}
	} {
		return {
			staticRoutes: [{id: 0}],
			physicalInterfaces: [{id: 0}],
			baseData: {
				hostname: "Router",
				password: "cisco",
				isSecret: false
			}
		}
	},
	methods: {
		addRoute() {
			this.staticRoutes.push({
				id: this.staticRoutes[this.staticRoutes.length - 1].id + 1 | 0
			})
		},

		removeRoute(id) {
			this.staticRoutes.forEach((item, index) => {
				let skip = false
				if (id === 0) skip = true;
				if (!skip && id == item.id) {
					this.staticRoutes.splice(index)
					skip = true
				}
			})
		},

		addInterface() {
			this.physicalInterfaces.push({
				id: this.physicalInterfaces[this.physicalInterfaces.length - 1].id + 1 | 0
			})
		},

		baseUpdated(data) {
			this.baseData = data
		},

		ipRouteUpdate(id, eventData) {
			this.staticRoutes.forEach((item, index) => {
				let skip = false
				if (!skip && id == item.id) {
					this.staticRoutes[index] = {
						id: id,
						networkAddress: eventData.networkAddress,
						networkMask: eventData.networkMask,
						nextHop: eventData.nextHop
					}
					skip = true
				}
			})
		},

		physicalInterfaceUpdate(id, eventData) {
			this.physicalInterfaces.forEach((item, index) => {
				let skip = false
				if (!skip && id == item.id) {
					this.physicalInterfaces[index] = {
						id: id,
						interfaceName: eventData.interfaceName,
						portAddress: eventData.portAddress,
						portMask: eventData.portMask,
						enable: eventData.enable
					}
					skip = true
				}
			})
		},

		runGenerator() {
			const generator = this.$rustWasm.Gen.new();
			generator.setBase(this.baseData.hostname, this.baseData.password, this.baseData.isSecret)
			this.staticRoutes.forEach((item) => {
				const keys = Object.keys(item)
				if (keys.includes("networkAddress") && keys.includes("networkMask") && keys.includes("nextHop")) {
					generator.newStaticRoute(
						item.networkAddress[0] || 0,
						item.networkAddress[1] || 0,
						item.networkAddress[2] || 0,
						item.networkAddress[3] || 0,
						item.networkMask[0] || 0,
						item.networkMask[1] || 0,
						item.networkMask[2] || 0,
						item.networkMask[3] || 0,
						item.nextHop[0] || 0,
						item.nextHop[1] || 0,
						item.nextHop[2] || 0,
						item.nextHop[3] || 0
					)
				}
			})

			this.physicalInterfaces.forEach((item) => {
				const keys = Object.keys(item)
				if (keys.includes("interfaceName") && keys.includes("portAddress") && keys.includes("portMask") && keys.includes("enable")) {
					generator.newPhysicalInterface(`${item.interfaceName?.int} ${item.interfaceName?.index}/${item.interfaceName?.count}`,
						item?.portAddress[0] || 0,
						item?.portAddress[1] || 0,
						item?.portAddress[2] || 0,
						item?.portAddress[3] || 0,
						item?.portMask[0] || 0,
						item?.portMask[1] || 0,
						item?.portMask[2] || 0,
						item?.portMask[3] || 0,
						item?.enable || false
					)
				}

			})
			console.log(generator.getConfig())
		}
	}
})
</script>
