<template>
	<div>
		<label>Hostname<input v-model="hostname"></label>
		<label>Password<input v-model="password" type="password"></label>
		<label>Mask?<input v-model="isSecret" type="checkbox"></label>
	</div>
</template>

<script>
export default {
	name: "CiscoBase",
	data(){
		return{
			hostname: "Router",
			password: "cisco",
			isSecret: false
		}
	},
	/* Emit updated data on data update */
	watch:{
		hostname(){
			this.$emit("baseUpdate", {
				hostname: this.hostname,
				password: this.password,
				isSecret: this.isSecret
			})
		},
		password(){
			this.$emit("baseUpdate", {
				hostname: this.hostname,
				password: this.password,
				isSecret: this.isSecret
			})
		},
		isSecret(){
			this.$emit("baseUpdate", {
				hostname: this.hostname,
				password: this.password,
				isSecret: this.isSecret
			})
		}
	}
}
</script>

<style scoped>

</style>