<template>
	<div class="interface-view">
		<div>
			<slot name="settings"/>
		</div>
		<code :data-content="$slots.output[0].text.substr(0,2)">
			<slot name="output"/>
		</code>
	</div>
</template>

<script>
export default {
	name: "interface",
}
</script>

<style scoped>
	.interface-view{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 0;
	}
</style>