<template>
	<div class="ip-route">
		<div class="routerInput">
			<div class="ipAdress">
				<input v-model.number="networkAddress[0]" type="number" min="0" max="255">
				<input v-model.number="networkAddress[1]" type="number" min="0" max="255">
				<input v-model.number="networkAddress[2]" type="number" min="0" max="255">
				<input v-model.number="networkAddress[3]" type="number" min="0" max="255">
			</div>
			<div class="ipAdress">
				<input v-model.number="networkMask[0]" type="number" min="0" max="255">
				<input v-model.number="networkMask[1]" type="number" min="0" max="255">
				<input v-model.number="networkMask[2]" type="number" min="0" max="255">
				<input v-model.number="networkMask[3]" type="number" min="0" max="255">
			</div>
			<div class="ipAdress">
				<input v-model.number="nextHop[0]" type="number" min="0" max="255">
				<input v-model.number="nextHop[1]" type="number" min="0" max="255">
				<input v-model.number="nextHop[2]" type="number" min="0" max="255">
				<input v-model.number="nextHop[3]" type="number" min="0" max="255">
			</div>
		</div>
		<code :data-content="$rustWasm.previewIpRoute(
					networkAddress[0] | 0,
					networkAddress[1] | 0,
					networkAddress[2] | 0,
					networkAddress[3] |0,
					networkMask[0] | 0,
					networkMask[1] | 0,
					networkMask[2] | 0,
					networkMask[3] |0,
					nextHop[0] | 0,
					nextHop[1] | 0,
					nextHop[2] | 0,
					nextHop[3]|0)">
			{{
				$rustWasm.previewIpRoute(
					networkAddress[0] | 0,
					networkAddress[1] | 0,
					networkAddress[2] | 0,
					networkAddress[3] | 0,
					networkMask[0] | 0,
					networkMask[1] | 0,
					networkMask[2] | 0,
					networkMask[3] | 0,
					nextHop[0] | 0,
					nextHop[1] | 0,
					nextHop[2] | 0,
					nextHop[3] | 0
				)
			}}
		</code>

		<button @click="$emit('remove')">odebrat</button>
	</div>
</template>

<script lang="ts">
export default {
	name: "IpRoute",
	data() {
		return {
			networkAddress:[
				0,
				0,
				0,
				0
			],
			networkMask: [
				255,
				255,
				255,
				0
			],
			nextHop: [
				0,
				0,
				0,
				0
			]
		}
	},

	watch:{
		networkAddress(){
			// @ts-ignore
			this.$emit("ipRouteUpdate", {
				networkAddress: this.networkAddress,
				networkMask: this.networkMask,
				nextHop: this.nextHop
			})
		},
		networkMask(){
			// @ts-ignore
			this.$emit("ipRouteUpdate", {
				networkAddress: this.networkAddress,
				networkMask: this.networkMask,
				nextHop: this.nextHop
			})
		},
		nextHop(){
			// @ts-ignore
			this.$emit("ipRouteUpdate", {
				networkAddress: this.networkAddress,
				networkMask: this.networkMask,
				nextHop: this.nextHop
			})
		}
	}
}
</script>

<style scoped lang="scss">

.ip-route {
	display: flex;
	flex-direction: column;
	align-items: center;

	.routerInput {
		display: flex;
		justify-content: center;

		.ipAdress {
			margin: 1.5em;

			> input {

				max-width: 3.5ch;
				margin: .25em;

				&[type="number"] {
					-moz-appearance: textfield;
				}

				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
					display: none;
				}

				&:not(:last-child)::after {
					content: '.';
				}
			}
		}
	}

	button{
		max-width: 25vw;
	}
}

</style>