<template>
	<interface>
		<template #settings>
			<label>
				Interface name:
				<input v-model="interfaceName.int"/><input type="number" v-model.number="interfaceName.index">/<input
				type="number" v-model.number="interfaceName.count">
			</label>
			<label>Enable <input type="checkbox" v-model="enable"></label>
			<div>
				<div>
					<span>IP address</span>
					<input v-model.number="portIpAddress[0]" type="number" min="0" max="255">
					<input v-model.number="portIpAddress[1]" type="number" min="0" max="255">
					<input v-model.number="portIpAddress[2]" type="number" min="0" max="255">
					<input v-model.number="portIpAddress[3]" type="number" min="0" max="255">
				</div>
				<div>
					<span>Network mask</span>
					<input v-model.number="portMask[0]" type="number" min="0" max="255">
					<input v-model.number="portMask[1]" type="number" min="0" max="255">
					<input v-model.number="portMask[2]" type="number" min="0" max="255">
					<input v-model.number="portMask[3]" type="number" min="0" max="255">
				</div>
			</div>
		</template>
		<template #output>{{
				$rustWasm.previewInterfaceConf(`${interfaceName.int} ${interfaceName.index}/${interfaceName.count}`,
					portIpAddress[0] | 0, portIpAddress[1] | 0, portIpAddress[2] | 0, portIpAddress[3] | 0,
					portMask[0] | 0, portMask[1] | 0, portMask[2] | 0, portMask[3] | 0,
					enable
				)
			}}
		</template>

	</interface>
</template>

<script lang="ts">
import Interface from "./interface.vue";
import Vue from "vue"

export default Vue.extend({
	name: "physicalInterface",
	components: {Interface},
	data() {
		return {
			interfaceName: {
				int: "FastEthernet",
				index: 0,
				count: 0,
			},
			portIpAddress: [
				10, 0, 0, 1
			],
			portMask: [
				255, 255, 255, 0
			],
			enable: false
		}
	},

	watch: {
		interfaceName() {
			this.$emit("physicalInterfaceUpdate", {
				interfaceName: this.interfaceName,
				portAddress: this.portIpAddress,
				portMask: this.portMask,
				enable: this.enable
			})
		},
		portIpAddress() {
			this.$emit("physicalInterfaceUpdate", {
				interfaceName: this.interfaceName,
				portAddress: this.portIpAddress,
				portMask: this.portMask,
				enable: this.enable
			})
		},
		portMask() {
			this.$emit("physicalInterfaceUpdate", {
				interfaceName: this.interfaceName,
				portAddress: this.portIpAddress,
				portMask: this.portMask,
				enable: this.enable
			})
		}
	}
})
</script>

<style scoped lang="scss">
input {
	margin: .25em;

	&[type="number"] {
		-moz-appearance: textfield;
		max-width: 3.5ch;
	}

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		display: none;
	}
}
</style>