<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
code{
	font-family: 'JetBrains Mono', monospace;
	background: #555;
	color: white;
	padding: 1.5em;
	font-size: 13px;
	white-space: pre;

	&::selection{
		background: #777;
	}

	&[data-content^="E:"]{
		color:red;
	}
}
</style>
